@import 'baseline.less';

#wrap{
	padding: 20px;
}
h2{
	font-family: 'helvetica neue', helvetica, arial;
	font-size: 24px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	margin: 40px 0 20px;
}

#scrubbing{
	background: #bbbbbb;
	height: 34px;
	line-height: 34px;
	border-radius: 4px;
	margin: 0 0 1px;
	padding: 0 20px;
	.handle{
		background: #333;
		border-radius: 0 4px 4px 0;
		position: relative;
		height: 24px;
		line-height: 24px;
		display: inline-block;
		padding: 0 8px;
		cursor: ew-resize;
	}
	.line{
		width: 1px;
		position: absolute;
		left: 0;
		top: 0;
		height: 191px;
		background: #333;
	}
	.icon{
		
	}
	.time{
		font-family: 'helvetica neue', helvetica, arial;
	font-size: 13px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	}
}

.bucket{
	background: #ddd;
	border-radius: 4px;
	.clearfix;
	padding: 20px;
	.beat{
		float: left;
		height: 120px;
		box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		transition: width 100ms linear;
		cursor: all-scroll;
		width: 1px;
		margin: 0 1px 0 0;
	}
	.song-1{
		background: #e65b3e;
	}
	.song-2{
		background: #fc8b04;
	}
	[data-beats="1"]{
		width: 50px;
	}
	[data-beats="2"]{
		width: 100px;
	}
}

#song-mix{
	.bucket{
		padding: 20px 0 20px 20px;
		overflow: hidden;
		height: 120px;
	}
	.beat{
		box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
	}
	.placeholder{
		box-shadow: none;
	}
}

.songs{
	.clearfix;
	.bucket{
		padding: 20px 20px 10px;
	}
	.beat{
		margin: 0 10px 10px 0;
	}
	& > div{
		width: 49%;
		float: left;
		&:last-child{
			float: right;
		}
	}
	
}

#song-1{
	
}

#song-2{
	
}


@media @vertical-ipad {

}

@media @mobile {

}